.reg .form-group.required .control-label:after {
  display: inline-block;
  content: '*';
  color: red;
  margin-left: 4px;
}

.reg sup {
  color: red;
  font-size: 16px;
  top: auto;
  margin-left: 4px;
}

.reviews-reply .anshid {
  visibility: hidden;
}
.reviews-reply.open .ans {
  display: block;
}
.reviews-reply.open .ans {
  display: none;
}
.reviews-reply.open .anshid {
  visibility: visible;
}

.about .about-caption-text {
  text-align: justify;
}

.has-error .jq-selectbox__select {
  border-color: #d50a0a;
}

#error-regist-addr {
  display: none;
}

.logo a {
  text-decoration: none;
}

.home {
  background-image: url(../images/bg-index.jpg);
}

.main-panel.main-panel_about {
  background: #eceeec url(../images/bg-about.jpg) center bottom no-repeat;
}

.why {
  background: #fcfbf8 url(../images/bg-why.jpg) center bottom no-repeat;
}

.faq-questions-users-list h1,
.faq-questions-users h1 {
  display: block;
  font-size: 18px;
  margin: 0 0 5px;
}

.about-heading.abhd {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center !important;
}

.about .about-caption-text {
  text-align: justify;
}

.reviews-reply .anshid {
  visibility: hidden;
}
.reviews-reply.open .ans {
  display: block;
}
.reviews-reply.open .ans {
  display: none;
}
.reviews-reply.open .anshid {
  visibility: visible;
}
.code-submitpay {
  width: 200px; margin: 0 auto;
}

.dog-list {
  width: 800px;
  max-height: 600px;
  overflow-y: auto;
  margin: 0 auto;
  text-align: justify; 
}

.agreement-window {
  width: 800px;
  height: 470px;
  position: fixed;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -235px;
  z-index: 100;
  box-shadow: 0 0 25px rgb(132, 132, 132);
}

.agreement-window iframe {
  width: 800px;
  height: 420px;
}

.agreement-window .agree-header {
  background: #424a51;
  height: 50px;
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.agreement-window .agree-content {
  height: 420px;
  width: 100%;
  background: white;
}

.agreement-window .agree-button {
  height: 50px;
  cursor: pointer;
  padding: 13px 31px 14px 53px;
  color: white;
  display: block;
  text-decoration: none;
}

.agreement-window .agree-button.pull-left {
  border-right: 1px solid #272e33;
}

.agreement-window .agree-button.pull-right {
  border-left: 1px solid #272e33;
}

.agreement-window .agree-print {
  background: url(../images/print.png) 25px 48% no-repeat;  
}

.agreement-window .agree-pdf {
  background: url(../images/download.png) 25px 48% no-repeat;  
}

.agreement-window .agree-close {
  background: url(../images/close.png) 25px 48% no-repeat;  
}

.reg-data-zodiac .jq-selectbox__dropdown ul {
  max-height: 203px;
}

.calc-total-text > u {
  color: black;
  text-decoration: none;
}

.text-warning.recovery-session,
.reg-content .text-warning,
.hintSubmit {
  color: #808080;
}

.text-warning.recovery-session {
  margin-top: -13px;
  display: block;
}

.ajax-loader {
  width: 43px;
  height: 11px;
  background: url(../images/ajax-loader.gif) no-repeat;
  display: none;
}

.no-sms-link {
  position: absolute;
  right: -250px;
  top: 37px;
}

.tooltip.top {
  margin-top: 0;
}

.home-heading h1 {
  font-size: 28px;
  line-height: 32px;
  color: #2b2f33;
  margin: 0 0 14px;
}




@media screen and (max-width: 840px) {
  .agreement-window {
    width: 600px;
    margin-left: -300px;
  }
  .agreement-window iframe {
    width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .home-heading h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 635px) {
  .agreement-window {
    width: 480px;
    margin-left: -240px;
  }
  .agreement-window iframe {
    width: 480px;
  }
  .agreement-window .agree-button.pull-right {
    border-left: 0;
  }
}

@media screen and (max-width: 515px) {
  .agreement-window {
    width: 320px;
    margin-left: -160px;
    height: 570px;
    margin-top: -285px;
  }
  .agreement-window iframe {
    width: 320px;
  }
  .agreement-window .agree-button {
    width: 100%;
    float: none;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #272e33;
  }
  .agreement-window .agree-header {
    height: 150px;
  }
  .agreement-window .agree-button.agree-close {
    border-bottom: 0;
  }
}
